body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  overflow: hidden;
}

#debug {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  font-size: 14px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

#debug:empty {
  display: none;
}

#debug p {
  margin: 0;
  margin-bottom: 8px;
}

#debug p:last-child {
  margin-bottom: 0;
}